<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-primary" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%=prods._id%>">
</form>