<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <br><br>
    <h1 class="centered">Critical Error :(</h1>
    <p class="centered">We're working on fixing this, sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>